.design{
    .banner_a {
        // background-color: cornflowerblue;
        width: auto;
        height: auto;
    
    
    
    
        .rol {
            display: flex;
    
    
            .ue_a {
                justify-content: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 80px;
                padding-bottom: 40px;
                border-style: outset;
                border-width: 0px 0px 8px;
                border-bottom-color: #1A2C44;
    
    
    
                p {
                    margin-top: 20px;
                    margin-bottom: 1rem;
                }
    
            }
        }
    
    
    
    
    
    
    }


    .sarita-box {
        margin-bottom: 80px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 100px;
        padding-top: 100px;
    }


    .gallery{
        padding: 60px 0px;
    }

    .gallery img{
        cursor: pointer;
        width: 100%;
    }
    #gallery-modal .modal-img{
        width: 100%;
    }



    .gallery-diaic{
        display: flex;
        align-items: center;
    }
}