.navbar-brand {
  img{
    width: 40px;
    height: 40px;
 
  }
}


.navbar-collapse {
  display: flex !important; // stylelint-disable-line declaration-no-important
  flex-basis: auto;
  justify-content: center;
  .navbar-nav {
    gap: 32px;
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #394430;

    --bs-nav-link-hover-color: #e34f76;
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;



    .nav-item {
      display: block;
      padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
      font-size: var(--bs-nav-link-font-size);
      font-weight: var(--bs-nav-link-font-weight);
      color: var(--bs-nav-link-color);
      text-decoration: none;
      background: 0 0;
      border: 0;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

      .nav-link {
        padding: 8px 14px;
      }




    }

  }
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: #ffffff;
    background-color: #609266;
  }

}










.navbar-container {
  width: 100%;

  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

}

/* 如果需要額外的樣式，可以使用這些媒體查詢 */
@media (min-width: 992px) {
  .offcanvas {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .collapse.navbar-collapse {
    display: none !important;
  }
}